* {
	margin: 0;
	padding: 0;

}

html, body, .container{
	background-color: #BAC6C4;
	height: 100%;
	font-family: 'Arvo', serif;
}

header {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
	font-size: 40px;
}
#container {
	position: absolute;
	left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -0%); /* décalage de 50% de sa propre taille */
}

#corps{
	background-image:url("../img/corps.png");
	top: 0px;
	left: 0px;
	width: 350px;
	height: 498px;
	background-repeat: no-repeat;
}

#epaule{
	top:80px;
	left:5px;
}

#coude {
	top:150px;
	left:100px;
}

#poignet {
	top:210px;
	left:-10px;
}

#hanche {
	top:220px;
	left:75px;
}

#genou {
	top:315px;
	left:15px;
}

#cheville {
	top:410px;
	left:62px;
}

#corps li{
	list-style-type: none;
}

#corps li .texte {
		display: none;
		margin-left: 155px;
		text-align: justify;
}

.circle {
	display:block;
	position:absolute;
	background-color: black;
	width:50px;
	height:50px;
	border-radius: 50px;
	opacity: 0.7;
}

#epaule:hover {
	background: red;
	opacity:0.7;
}
#epaule:hover + #texteepaule {
	display: inline-block;

}

#coude:hover {
	background: red;
	opacity:0.7;
}
#coude:hover + #textecoude {
	display: inline-block;


}

#poignet:hover {
	background: red;
	opacity:0.7;
}
#poignet:hover + #textepoignet {
	display: inline-block;

}

#hanche:hover {
	background: red;
	opacity:0.7;
}
#hanche:hover + #textehanche {
	display: inline-block;

}

#genou:hover {
	background: red;
	opacity:0.7;
}
#genou:hover + #textegenou {
	display: inline-block;

}

#cheville:hover {
	background: red;
	opacity:0.7;
}
#cheville:hover + #textecheville {
	display: inline-block;
	
}
